.bottom {
    margin: 0 auto;
    width: 90%;
    height: 15px;
    text-align: center;
}

.bottom-line{
    border-top: 1px solid #dddddd;
    margin: 0 auto; 
}

/*.bottom>hr {
    margin: 0px auto;
}*/



.bottom-text {
    margin: 1.266vw auto;
    font-size: 11px;
    width: 56.8vw;
    text-align: center;
    white-space: normal;
    color: #9b9b9b;
}