.contact {
    height: 280px;
    width: 100%;
}

.contact-section {
    height: 180px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.contact-logo {
    width: 235px;
    height: 100%;
    float: left;
}

.contact-product {
    float: left;
    height: 100%;
    width: 165px;
    line-height: 34px;
}

.contact-product>li {
    list-style-type: none;
    font-size: 12px;
    line-height: 25px;
}

.contact-company {
    float: left;
    height: 100%;
    width: 165px;
    line-height: 34px;
}

.contact-company>li {
    list-style-type: none;
    font-size: 12px;
    line-height: 25px;
}

.contact-information {
    float: left;
    height: 100%;
    width: 165px;
    line-height: 34px;
}

.contact-information>li {
    list-style-type: none;
    font-size: 12px;
    line-height: 25px;
}

.contact-right {
    float: left;
    height: 100%;
    width: 300px;
}

.contact-Wechart {
    width: 150px;
    height: 100%;
    float: left;
}

.contact-Wechart>img {
    height: 100px;
    width: 100px;
}

.contact-Wechart>p {
    width: 100px;
    font-size: 12px;
    text-align: center;
}

.contact-QQ {
    width: 100px;
    height: 100%;
    float: right;
    text-align: center;
}

.contact-QQ>img {
    text-align: center;
}

.contact-QQ>p {
    font-size: 12px;
    text-align: center;
}