.contact {
    overflow: auto;
    padding: 45px 0;
    width: 100%;
}

.contact-section {
    width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: auto;
    color: #9b9b9b;
}

.contact-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 235px;
    padding-left: 70px;
}

.contact-div{
    text-align: center;
    width: 500px;
    float: left;
    margin: 0 auto;
}

.contact-product {
    float: left;
    width: 165px;
    line-height: 34px;
    text-align: left;
    vertical-align: top;
}

.contact-product>li {
    list-style-type: none;
    font-size: 12px;
    line-height: 25px;
}

.contact-company {
    float: left;
    width: 165px;
    line-height: 34px;
    text-align: left;
    vertical-align: top;
}

.contact-company>li {
    list-style-type: none;
    font-size: 12px;
    line-height: 25px;
}

.contact-information {
    float: left;
    width: 165px;
    line-height: 34px;
    text-align: left;
    vertical-align: top;
}

.contact-information>li {
    list-style-type: none;
    font-size: 12px;
    line-height: 25px;
}

.contact-right {
    overflow: auto;
    padding-right: 70px;
    display: flex;
    float: left;
}

.contact-Wechart {
    width: 100px;
    margin-right: 30px;
    font-size: 12px;
}

.contact-Wechart>img {
    height: 100px;
    width: 100px;
}

.contact-Wechart>p {
    width: 100px;
    font-size: 12px;
    text-align: center;
}

.contact-QQ {
    width: 100px;
    font-size: 12px;
    float: right;
    text-align: center;
}

.contact-QQ>img {
    text-align: center;
}

.contact-QQ>p {
    font-size: 12px;
    text-align: center;
}