html,
body {
    height: 100%;
    width: 100%;
    float: left;
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

.download-all {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(rgb(0, 130, 255), rgb(190, 230, 255));
    background: -webkit-gradient(linear, center top, center bottom, from(rgb(0, 130, 255)), to(rgb(190, 230, 255)));
    background: -webkit-linear-gradient(rgb(0, 130, 255), rgb(190, 230, 255));
    background: -o-linear-gradient(rgb(0, 130, 255), rgb(190, 230, 255));
    background: -ms-linear-gradient(rgb(0, 130, 255), rgb(190, 230, 255));
    background: linear-gradient(rgb(0, 130, 255), rgb(190, 230, 255));
}

.download {
    height: 381px;
    width: 100%;
    position: relative;
    top: 28%;
}

.download-content {
    height: 100%;
    width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.download-left {
    height: 100%;
    width: 60%;
    float: left;
}

.download-left>img {
    height: 360px;
    width: 620px;
}

.download-right {
    height: 100%;
    width: 400px;
    float: left;
}


.download-font {
    font-size: 28px;
    color: white;
    position: relative;
    top: 30px;
}

.download-button {
    position: relative;
    top: 60px;
    height: 135px;
}

.download-first-line {
    height: 75px;
    width: 400px;
}

/*.download-first-line>button {
    height: 60px;
    width: 192px;
    background-color: rgb(21, 40, 84);
    border: none;
    color: white;
    font-size: 16px;
}*/

.btn {
    display: inline-block;
    height: 60px;
    width: 192px;
    background-color: rgb(21, 40, 84);
    border: none;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(57, 143, 255);
}

.btn img{
    position: relative;
    top: 15px;
    left: 20px;
}

.btn span{
    position: relative;
    left: 40px;
}

.mac{
    position: relative;
    left: 10px;
}

.ios{
    position: relative;
    left: 10px;
    
}

.download-first-line>a {

}

.download-second-line {
    height: 60px;
    width: 400px;
}

/*.download-second-line>button {
    height: 60px;
    width: 192px;
    background-color: rgb(21, 40, 84);  /*rgb(57, 143, 255);
    border: none;
    color: white;
} */