html,
body {
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;
}

body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
    width: 6px;
}


/*.head-navigation {
    height: 58px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.nav-title {
    height: 58px;
    width: 1200px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.nav-logo {
    width: 240px;
    float: left;
    position: relative;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-logo-img {
    height: 27px;
}

.navigation {
    float: left;
    width: 416px;
    padding-left: 10%;
    position: relative;
    left: 135px;
    top: 50%;
    transform: translateY(-50%);
}

.navigation>li {
    list-style-type: none;
    float: left;
    height: 100%;
    width: 104px;
    text-align: center;
    font-size: 15px;

}

.navigation>li>a {
    text-decoration: none;
}

.navigation>li>a:link {}

.nav-button {
    height: 58px;
    width: 20%;
    float: left;
    position: relative;
    left: 135px;
}

.nav-button>button {
    height: 32px;
    width: 100px;
    text-align: center;
    background-color: #00074100;
    border-bottom-color: #a7a4a4;
    color: #a7a4a4;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border: 1px solid rgba(221,221,221);
}*/

.SDK-first {
    height: 625px;
    width: 100%;
}

.first-bg {
    background: -moz-linear-gradient(rgb(35, 147, 255), #fff);
    background: -webkit-gradient(linear, center top, center bottom, from(rgb(35, 147, 255)), to(#fff));
    background: -webkit-linear-gradient(rgb(35, 147, 255), #fff);
    background: -o-linear-gradient(rgb(35, 147, 255), #fff);
    background: -ms-linear-gradient(rgb(35, 147, 255), #fff);
    background: linear-gradient(rgb(35, 147, 255), #fff);
}

.SDK-first-section {
    height: 465px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.SDK-first-left {
    height: 465px;
    width: 600px;
    float: left;
}

.SDK-first-bg {
    padding-top: 50px;
}

.SDK-first-title {
    line-height: 50px;
    font-size: 49px;
    text-align: center;
    color: rgb(21, 47, 95);
}

.SDK-first-titlesub {
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    color: rgb(21, 47, 95);
}

.SDK-first-title-cz {
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    color: rgb(21, 47, 95);
}

.SDK-first-button {
    text-align: center;
    position: relative;
    top: 10px;
}

.SDK-first-button>button {
    height: 40px;
    width: 170px;
    font-size: 16px;
    color: white;
    background-color: rgb(24, 144, 255);
    border: none;
}

.SDK-first-content {
    width: 450px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    text-align: justify;
    left: 78px;
    top: 30px;
    color: rgb(21, 47, 95);
}

.SDK-first-right {
    height: 465px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SDK-first-right>img {
    height: 331px;
    width: 445px;
}

.SDK-second {
    width: 100%;
    height: 636px;
}

.SDK-second-section {
    width: 1200px;
    height: 496px;
    margin: 0 auto;
}

.SDK-second-title {
    text-align: center;
    font-size: 52px;
    line-height: 200px;
}

.SDK-second-content {
    height: 340px;
    width: 1200px;
}

.SDK-second-content>div {
    height: 335px;
    width: 280px;
    text-align: center;
    position: relative;
    left: 80px;
    float: left;
}

.SDK-second-border {
    width: 240px;
    height: 335px;
    border: 1px solid rgb(199, 199, 199);
    float: left;
    position: relative;
}

.SDK-second-border>div {
    position: relative;
    top: 40px;
}

.SDK-second-content-explanation {
    position: relative;
    left: 20px;
    width: 200px;
    text-align: justify;
}

.SDK-third {
    width: 100%;
    height: 574px;
    background-color: #e0e0e0;
}

.third-bg {
    background: -moz-linear-gradient(#fff, rgb(35, 147, 255) 50%, #fff);
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), color-stop(.5, rgb(35, 147, 255)), to(#fff));
    background: -webkit-linear-gradient(#fff, rgb(35, 147, 255) 50%, #fff);
    background: -o-linear-gradient(#fff, rgb(35, 147, 255) 50%, #fff);
    background: -ms-linear-gradient(#fff, rgb(35, 147, 255) 50%, #fff);
    background: linear-gradient(#fff, rgb(35, 147, 255) 50%, #fff);
    /* background: -moz-linear-gradient(45deg, #fff, rgb(35, 147, 255) 50%, #fff);
    background: -webkit-gradient(linear, left bottom, right top, from(#fff), color-stop(.5, rgb(35, 147, 255)), to(#fff));
    background: -webkit-linear-gradient(45deg, #fff, rgb(35, 147, 255) 50%, #fff);
    background: -o-linear-gradient(45deg, #fff, rgb(35, 147, 255) 50%, #fff);
    background: -ms-linear-gradient(45deg, #fff, rgb(35, 147, 255) 50%, #fff);
    background: linear-gradient(45deg, #fff, rgb(35, 147, 255) 50%, #fff); */
}

.SDK-third-section {
    width: 1200px;
    height: 435px;
    position: relative;
    margin: 0 auto;
    top: 70px;
}

.SDK-third-title {
    font-size: 52px;
    text-align: center;
}

.SDK-third-warp {
    position: relative;
    width: 1200px;
}

.SDK-third-loop-warp {
    padding: 50px 5px;
    overflow-x: hidden;
    text-align: center;
    position: initial;
    z-index: 0;
    width: initial;
    padding-left: initial;
    margin-left: auto;
    margin-right: auto;
}


.loop-warp-01 {
    width: 17%;
    height: 190px;
    display: inline-block;
    color: #fff;
    background-image: url(../img/s1.jpg);
    background-repeat: no-repeat;
}

.loop-warp-02 {
    width: 17%;
    height: 190px;
    display: inline-block;
    color: #fff;
    background-image: url(../img/s2.jpg);
    background-repeat: no-repeat;
}

.loop-warp-03 {
    width: 17%;
    height: 190px;
    display: inline-block;
    color: #fff;
    background-image: url(../img/s3.jpg);
    background-repeat: no-repeat;
}

.loop-warp-04 {
    width: 17%;
    height: 190px;
    display: inline-block;
    color: #fff;
    background-image: url(../img/s4.jpg);
    background-repeat: no-repeat;
}

.loop-warp-05 {
    width: 17%;
    height: 190px;
    display: inline-block;
    color: #fff;
    background-image: url(../img/s5.jpg);
    background-repeat: no-repeat;
}

.loop-image {
    padding-top: 45px;
}

.SDK-third-loop-text {
    overflow: hidden;
    position: relative;
    left: 102px;
    width: 995px;
    height: 90px;
}

#slider {
    width: 500%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    animation: slide1 30s infinite;
    -moz-animation: slide1 30s infinite;
    -webkit-animation: slide1 30s infinite;
    -o-animation: slide1 30s infinite;
}

.SDK-loop-text {
    float: left;
    width: 995px;
    height: 100%;
    text-align: justify;
}



/*创建动画策略*/
@keyframes slide1 {
    0% {
        margin-left: 0;
    }

    19% {
        margin-left: 0;
    }

    20% {
        margin-left: -100%;
    }

    39% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    59% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    79% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    99% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes slide2 {
    0% {
        margin-left: -100%;
    }

    19% {
        margin-left: -100%;
    }

    20% {
        margin-left: -200%;
    }

    39% {
        margin-left: -200%;
    }

    40% {
        margin-left: -300%;
    }

    59% {
        margin-left: -300%;
    }

    60% {
        margin-left: -400%;
    }

    79% {
        margin-left: -400%;
    }

    80% {
        margin-left: 0;
    }

    99% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes slide3 {
    0% {
        margin-left: -200%;
    }

    19% {
        margin-left: -200%;
    }

    20% {
        margin-left: -300%;
    }

    39% {
        margin-left: -300%;
    }

    40% {
        margin-left: -400%;
    }

    59% {
        margin-left: -400%;
    }

    60% {
        margin-left: 0;
    }

    79% {
        margin-left: 0;
    }

    80% {
        margin-left: -100%;
    }

    99% {
        margin-left: -100%;
    }

    100% {
        margin-left: -200%;
    }
}

@keyframes slide4 {
    0% {
        margin-left: -300%;
    }

    19% {
        margin-left: -300%;
    }

    20% {
        margin-left: -400%;
    }

    39% {
        margin-left: -400%;
    }

    40% {
        margin-left: 0;
    }

    59% {
        margin-left: 0;
    }

    60% {
        margin-left: -100%;
    }

    79% {
        margin-left: -100%;
    }

    80% {
        margin-left: -200%;
    }

    99% {
        margin-left: -200%;
    }

    100% {
        margin-left: -300%;
    }
}

@keyframes slide5 {
    0% {
        margin-left: -400%;
    }

    19% {
        margin-left: -400%;
    }

    20% {
        margin-left: 0;
    }

    39% {
        margin-left: 0;
    }

    40% {
        margin-left: -100%;
    }

    59% {
        margin-left: -100%;
    }

    60% {
        margin-left: -200%;
    }

    79% {
        margin-left: -200%;
    }

    80% {
        margin-left: -300%;
    }

    99% {
        margin-left: -300%;
    }

    100% {
        margin-left: -400%;
    }
}

/* #first:checked~#wrap #slider {
    -webkit-animation-name: slide1;
}

#second:checked~#wrap #slider {
    -webkit-animation-name: slide2;
}

#third:checked~#wrap #slider {
    -webkit-animation-name: slide3;
}

#fourth:checked~#wrap #slider {
    -webkit-animation-name: slide4;
}

#fifth:checked~#wrap #slider {
    -webkit-animation-name: slide5;
}

#first:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:0;
  }
  
  #second:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-995px;
  }
  
  #third:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-1990px;
  }

  #fourth:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-3985;
  }
  
  #fifth:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-4980px;
  } */

#first,
#second,
#third,
#fourth,
#fifth {
    display: none;
}