html,
body {
    height: 100%;
    width: 100%;
    float: left;
    margin: 0;
}

.page {
    height: 100%;
    width: 100%;
    background: url("../img/bg.svg");    
    background-repeat:repeat-x;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 6px;
}

.first-bg {
    height: 100%;
    width: 100%;
}

.first-content {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.first-left-content {
    width: 40%;
    float: left;
    padding-left: 5%;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

.first-left-div1 {
    font-size: 46px;
    height: 70px;
    color: #ffffff;
}

.first-left-div2 {
    font-size: 24px;
    height: 50px;
    color: #ffffff;
}

.first-left-div3 {
    font-size: 14px;
    height: 60px;
    color: #ffffff;
}

.first-right-content {
    height: 100%;
    width: 50%;
    float: left;
}

.first-button1 {
    height: 40px;
    width: 130px;
    text-align: center;
    background-color: #000641;
    border: none;
    color: #ffffff;
}

.first-button2 {
    height: 40px;
    width: 130px;
    text-align: center;
    background-color: #ffffff00;
    color: #ffffff;
    position: relative;
    left: 30px;

}

.play {
    float: left;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px 0px 5px 10px;
    border-color: transparent transparent transparent #ffffff;
}

.second-bg {
    width: 100%;
    height: 727px;
    position: relative;
    background-color: gray;
}

.second-mid-content {
    top: 200px;
    height: 116px;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.second-mid-content>div {
    text-align: center;
}

.second-title {
    height: 93px;
    font-size: 48px;
}

.second-sub-title {
    height: 20px;
    font-size: 14px;
    marker-end: 0;
}

.second-left-content {
    width: 50%;
    height: 100%;
    float: left;
    position: absolute;
    z-index: 9;
    background: url("../img/beach_left.png");
    background-repeat:repeat-x;
    background-size: cover;
}

.second-phone{
    
}

.second-right-content {
    width: 50%;
    height: 100%;
    float: left;
    position: absolute;
    left: 50%;
    z-index: 9;
    background: url("../img/working_bg.png");
    background-repeat:repeat-x;
    background-size: cover;
}

.third-bg {
    width: 100%;
    height: 572px;
    background: url("../img/section03_bg.svg");
    margin-top:0; 
    background-repeat:repeat-x;
    background-size: cover;
}

.third-content {
    height: 465px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.third-left {
    float: left;
    width: 412px;
}

.third-left>img {
    width: 342px;
    height: 348.86px;
    float: right;
}

.third-right {
    float: left;
    width: 320px;
    height: 465px;
    margin-left: 140px;
}

.third-right-all {
    width: 170px;
    height: 345px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.third-right-title {
    width: 170px;
    height: 122px;
    font-size: 37px;
    line-height: 50px;
}

.third-right-title-sub {
    width: 170px;
    height: 80px;
    font-size: 18px;
}

.third-right-content {
    width: 170px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}

.fourth-bg {
    height: 280px;
    width: 100%;
    text-align: center;
    background-color: white;
}

.fourth-title {
    font-size: 24px;
    line-height: 34px;
    position: relative;
    top: 89px;
}

.fourth-title-sub {
    font-size: 14px;
    line-height: 34px;
    position: relative;
    top: 90px;
}

.fourth-link {
    font-size: 14px;
    line-height: 34px;
    position: relative;
    top: 91px;
}

.fifth-bg {
    height: 173px;
    width: 100%;
    background-color: rgb(0, 0, 85);
}

.fifth-content {
    width: 1200px;
    height: 118px;
    margin: 0 auto;
    position: relative;
    top: 15.8%;
}

.fifth-title {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    top: 21%;
}

.fifth-title>a {
    text-decoration: none;
}

.fifth-net {
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    color: rgb(0, 119, 255);
    position: relative;
    top: 24%;
}